<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duart.mybible">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MainMenu"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Wallet"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".SeeAllWallet"
            android:parentActivityName=".Wallet" />
        <activity
            android:name=".NewEntryWallet"
            android:parentActivityName=".Wallet" />
        <activity
            android:name=".UpdateWallet"
            android:parentActivityName=".SeeAllWallet" />
        <activity
            android:name=".ToDoList"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Box"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".NewItemBox"
            android:parentActivityName=".ItemBox" />
        <activity
            android:name=".ItemBox"
            android:parentActivityName=".Box" />
        <activity
            android:name=".CategoryBox"
            android:parentActivityName=".Box" />
        <activity
            android:name=".LocationBox"
            android:parentActivityName=".Box" />
        <activity
            android:name=".NewLocationBox"
            android:parentActivityName=".Box" />
        <activity
            android:name=".ItemAndBoxBox"
            android:parentActivityName=".Box" />
        <activity
            android:name=".ViewItemBox"
            android:parentActivityName=".Box" />
        <activity
            android:name=".EditItemBox"
            android:parentActivityName=".Box" />
        <activity
            android:name=".Person"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".NewPerson"
            android:parentActivityName=".Person" />
        <activity
            android:name=".ViewPerson"
            android:parentActivityName=".Person" />
        <activity
            android:name=".EditPerson"
            android:parentActivityName=".ViewPerson" />
        <activity
            android:name=".Gift"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".ViewGift"
            android:parentActivityName=".Gift" />
        <activity android:name=".AddStock"></activity>
    </application>

</manifest>